body {
    background: rgb(48, 48, 48);
    background-image: url('/backgroun.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.SiteName {
    color: aliceblue;
    margin-top: 35px;
}

.corpo {
    width: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 1px 1px rgba(48, 48, 48, 0.253);
    transition: all .3s ease-in;
}

.corpo button {
    margin-top: 10px;
    width: 95%;
    height: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 1px 1px;
}

.corpo audio {
    margin-top: 10px;
    box-shadow: 0px 0px 1px 1px;
    border-radius: 50px;
    width: 80%;
}

.daddy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.bar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
}

.left {
    width: 110%;
}

.right {
    position: relative;
    right: 23px;
    top: 4px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 1px 1px rgba(48, 48, 48, 0.397);
    color: rgba(0, 0, 0, 0);
}

.info {
    background: rgba(255, 0, 0, 0.699);
    height: 16px;
    width: 16px;
    border-radius: 50px;
    margin-top: 8px;
    box-shadow: 0px 0px 1px 1px rgba(48, 48, 48, 0.397);
}

.obs {
    margin-top: 80px;
    border-radius: 50px;
    padding: 20px;
    color: rgb(255, 157, 157);
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 1px 1px rgba(48, 48, 48, 0.253);
    transition: all .3s ease-in;
}